1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 4
FILETYPE 1
{
    BLOCK "StringFileInfo" {
        BLOCK "040904b0" {
           VALUE "Comments", ""
           VALUE "CompanyName", "Aemulus Corp. Bhd"
	   #ifdef _WIN64
           VALUE "FileDescription", "Native Utility x64"
	   #else
	   VALUE "FileDescription", "Native Utility x32"
           #endif
           VALUE "FileVersion", "1.0.0.0"
           VALUE "InternalName", ""
           VALUE "LegalCopyright", "Copyright © 2004-2024 Aemulus Corp. Bhd."
           VALUE "LegalTrademarks", ""
           VALUE "OriginalFilename", "Iom420eED.dll"
           VALUE "PrivateBuild", ""
           VALUE "ProductName", "techFlow"
           VALUE "ProductVersion", "1.0.0"
           VALUE "SpecialBuild", ""
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04B0
    }
}